In [1]:
import pandas as pd

In [2]:
#read rainfall.csv from data raw
rainfall= pd.read_csv('../Dataset Raw/Rainfall.csv')
rainfall

,DIST,VAR,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,...,Sep,Oct,Nov,Dec,WC13,WC14,WC15,WC16,WC17,WC18
0,Adilabad,RAIN,1901.0,14.8,74.1,19.3,64.2,11.7,159.1,337.9,...,154.5,32.2,0.0,0.0,1165.8,981.7,790.5,419.7,155.6,157.3
1,Adilabad,RAIN,1902.0,0.0,0.0,0.2,7.6,13.3,28.9,256.7,...,198.3,11.1,13.6,19.3,728.3,674.3,634.3,164.9,303.9,57.5
2,Adilabad,RAIN,1903.0,5.0,7.7,0.0,2.5,15.4,103.5,516.4,...,196.5,136.9,11.0,2.1,1377.0,1333.3,1092.9,449.8,351.3,213.9
3,Adilabad,RAIN,1904.0,6.8,0.7,10.3,0.7,31.5,80.9,190.2,...,200.5,96.0,0.0,0.0,739.1,689.0,512.1,161.7,217.5,57.3
4,Adilabad,RAIN,1905.0,0.1,2.7,16.6,15.4,36.7,122.9,157.5,...,297.8,14.3,0.0,0.0,945.9,874.4,737.2,134.7,495.6,37.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66153,Zunheboto,RAIN,2009.0,1.7,19.8,29.5,77.8,138.7,252.8,289.0,...,313.3,112.5,20.4,1.0,1659.9,1371.1,1005.7,388.3,322.3,253.0
66154,Zunheboto,RAIN,2010.0,0.0,1.0,196.8,406.4,306.2,374.5,407.1,...,331.8,168.9,18.1,8.8,2537.3,1600.0,1056.6,403.5,318.1,264.5
66155,Zunheboto,RAIN,2011.0,13.3,20.4,78.6,129.3,244.6,314.5,596.8,...,366.0,75.7,6.4,0.8,2073.8,1580.4,1190.2,391.2,286.4,219.8
66156,NaN,avg,2003.0,18.8,22.3,28.0,44.6,74.3,186.4,314.6,...,186.1,82.5,33.1,16.2,1285.7,1048.6,779.7,NaN,NaN,NaN
66157,NaN,avg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#drop  var, WC14, WC16,WC17.W18
rainfall = rainfall.drop(['VAR', 'WC14', 'WC16', 'WC17', 'WC18'], axis=1)
rainfall

,DIST,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,WC13,WC15
0,Adilabad,1901.0,14.8,74.1,19.3,64.2,11.7,159.1,337.9,298.0,154.5,32.2,0.0,0.0,1165.8,790.5
1,Adilabad,1902.0,0.0,0.0,0.2,7.6,13.3,28.9,256.7,179.3,198.3,11.1,13.6,19.3,728.3,634.3
2,Adilabad,1903.0,5.0,7.7,0.0,2.5,15.4,103.5,516.4,379.9,196.5,136.9,11.0,2.1,1377.0,1092.9
3,Adilabad,1904.0,6.8,0.7,10.3,0.7,31.5,80.9,190.2,121.4,200.5,96.0,0.0,0.0,739.1,512.1
4,Adilabad,1905.0,0.1,2.7,16.6,15.4,36.7,122.9,157.5,281.8,297.8,14.3,0.0,0.0,945.9,737.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66153,Zunheboto,2009.0,1.7,19.8,29.5,77.8,138.7,252.8,289.0,403.4,313.3,112.5,20.4,1.0,1659.9,1005.7
66154,Zunheboto,2010.0,0.0,1.0,196.8,406.4,306.2,374.5,407.1,317.7,331.8,168.9,18.1,8.8,2537.3,1056.6
66155,Zunheboto,2011.0,13.3,20.4,78.6,129.3,244.6,314.5,596.8,227.4,366.0,75.7,6.4,0.8,2073.8,1190.2
66156,NaN,2003.0,18.8,22.3,28.0,44.6,74.3,186.4,314.6,279.0,186.1,82.5,33.1,16.2,1285.7,779.7
66157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
rainfall['DIST'].nunique()

596

In [5]:
#drop last 2 rows
rainfall.drop(rainfall.tail(2).index,inplace=True)

In [6]:
rainfall

,DIST,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,WC13,WC15
0,Adilabad,1901.0,14.8,74.1,19.3,64.2,11.7,159.1,337.9,298.0,154.5,32.2,0.0,0.0,1165.8,790.5
1,Adilabad,1902.0,0.0,0.0,0.2,7.6,13.3,28.9,256.7,179.3,198.3,11.1,13.6,19.3,728.3,634.3
2,Adilabad,1903.0,5.0,7.7,0.0,2.5,15.4,103.5,516.4,379.9,196.5,136.9,11.0,2.1,1377.0,1092.9
3,Adilabad,1904.0,6.8,0.7,10.3,0.7,31.5,80.9,190.2,121.4,200.5,96.0,0.0,0.0,739.1,512.1
4,Adilabad,1905.0,0.1,2.7,16.6,15.4,36.7,122.9,157.5,281.8,297.8,14.3,0.0,0.0,945.9,737.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66151,Zunheboto,2007.0,2.4,30.8,20.2,203.7,193.3,283.6,373.1,363.4,341.7,293.8,44.5,6.2,2156.8,1078.3
66152,Zunheboto,2008.0,20.7,10.9,56.4,109.2,150.5,372.4,454.7,346.1,251.9,100.1,2.4,3.0,1878.3,1052.8
66153,Zunheboto,2009.0,1.7,19.8,29.5,77.8,138.7,252.8,289.0,403.4,313.3,112.5,20.4,1.0,1659.9,1005.7
66154,Zunheboto,2010.0,0.0,1.0,196.8,406.4,306.2,374.5,407.1,317.7,331.8,168.9,18.1,8.8,2537.3,1056.6
66155,Zunheboto,2011.0,13.3,20.4,78.6,129.3,244.6,314.5,596.8,227.4,366.0,75.7,6.4,0.8,2073.8,1190.2

In [7]:
#create a new column Summer Rainfall
rainfall['Summer'] = rainfall['Mar'] + rainfall['Apr'] + rainfall['May']+rainfall['Jun']

In [8]:
#create a new column Winter Rainfall and add dec of current year and jan and feb of next year
rainfall['Winter'] =rainfall['Dec'] +rainfall['Jan'].shift(-1) + rainfall['Feb'].shift(-1)

In [9]:
#create a new column Autumn and consider oct and nov
rainfall['Autumn'] = rainfall['Oct'] + rainfall['Nov']

In [10]:
#create a new column Rabi and consider oct, nov, dec
rainfall['Rabi'] = rainfall['Oct'] + rainfall['Nov'] + rainfall['Dec']

In [11]:
rainfall.head(10)

,DIST,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,WC13,WC15,Summer,Winter,Autumn,Rabi
0,Adilabad,1901.0,14.8,74.1,19.3,64.2,11.7,159.1,337.9,298.0,154.5,32.2,0.0,0.0,1165.8,790.5,254.3,0.0,32.2,32.2
1,Adilabad,1902.0,0.0,0.0,0.2,7.6,13.3,28.9,256.7,179.3,198.3,11.1,13.6,19.3,728.3,634.3,50.0,32.0,24.7,44.0
2,Adilabad,1903.0,5.0,7.7,0.0,2.5,15.4,103.5,516.4,379.9,196.5,136.9,11.0,2.1,1377.0,1092.9,121.4,9.6,147.9,150.0
3,Adilabad,1904.0,6.8,0.7,10.3,0.7,31.5,80.9,190.2,121.4,200.5,96.0,0.0,0.0,739.1,512.1,123.4,2.8,96.0,96.0
4,Adilabad,1905.0,0.1,2.7,16.6,15.4,36.7,122.9,157.5,281.8,297.8,14.3,0.0,0.0,945.9,737.2,191.6,12.2,14.3,14.3
5,Adilabad,1906.0,10.2,2.0,15.5,0.9,3.6,267.8,365.7,264.5,138.9,12.2,14.8,23.2,1119.3,769.1,287.8,41.0,27.0,50.2
6,Adilabad,1907.0,5.1,12.7,7.2,76.6,0.2,152.5,294.9,373.4,128.5,0.0,5.3,19.4,1075.8,796.7,236.5,42.1,5.3,24.7
7,Adilabad,1908.0,10.3,12.4,4.7,2.2,5.8,144.7,421.6,383.1,294.0,10.1,0.0,0.5,1289.3,1098.8,157.4,11.7,10.1,10.6
8,Adilabad,1909.0,4.9,6.3,2.1,32.2,1.9,127.8,437.0,184.3,125.8,5.0,0.0,10.9,938.3,747.2,164.0,10.9,5.0,15.9
9,Adilabad,1910.0,0.0,0.0,0.0,0.0,26.6,272.5,289.7,180.3,331.3,77.2,51.2,0.0,1228.8,801.3,299.1,0.1,128.4,128.4

In [12]:
#rename column WC13 to annual
rainfall.rename(columns={'WC13':'Annual'}, inplace=True)
rainfall.rename(columns={'WC15':'Kharif'}, inplace=True)

In [13]:
#create a copy of rainfall
rainfall['Winter'].iloc[-1] = rainfall['Dec'].iloc[-1]

C:\Users\zatak\AppData\Local\Temp\ipykernel_13516\3490005134.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rainfall['Winter'].iloc[-1] = rainfall['Dec'].iloc[-1]

In [14]:
rainfall

,DIST,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,Kharif,Summer,Winter,Autumn,Rabi
0,Adilabad,1901.0,14.8,74.1,19.3,64.2,11.7,159.1,337.9,298.0,154.5,32.2,0.0,0.0,1165.8,790.5,254.3,0.0,32.2,32.2
1,Adilabad,1902.0,0.0,0.0,0.2,7.6,13.3,28.9,256.7,179.3,198.3,11.1,13.6,19.3,728.3,634.3,50.0,32.0,24.7,44.0
2,Adilabad,1903.0,5.0,7.7,0.0,2.5,15.4,103.5,516.4,379.9,196.5,136.9,11.0,2.1,1377.0,1092.9,121.4,9.6,147.9,150.0
3,Adilabad,1904.0,6.8,0.7,10.3,0.7,31.5,80.9,190.2,121.4,200.5,96.0,0.0,0.0,739.1,512.1,123.4,2.8,96.0,96.0
4,Adilabad,1905.0,0.1,2.7,16.6,15.4,36.7,122.9,157.5,281.8,297.8,14.3,0.0,0.0,945.9,737.2,191.6,12.2,14.3,14.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66151,Zunheboto,2007.0,2.4,30.8,20.2,203.7,193.3,283.6,373.1,363.4,341.7,293.8,44.5,6.2,2156.8,1078.3,700.8,37.8,338.3,344.5
66152,Zunheboto,2008.0,20.7,10.9,56.4,109.2,150.5,372.4,454.7,346.1,251.9,100.1,2.4,3.0,1878.3,1052.8,688.5,24.5,102.5,105.5
66153,Zunheboto,2009.0,1.7,19.8,29.5,77.8,138.7,252.8,289.0,403.4,313.3,112.5,20.4,1.0,1659.9,1005.7,498.8,2.0,132.9,133.9
66154,Zunheboto,2010.0,0.0,1.0,196.8,406.4,306.2,374.5,407.1,317.7,331.8,168.9,18.1,8.8,2537.3,1056.6,1283.9,42.5,187.0,195.8
66155,Zunheboto,2011.0,13.3,20.4,78.6,129.3,244.6,314.5,596.8,227.4,366.0,75.7,6.4,0.8,2073.8,1190.2,767.0,0.8,82.1,82.9

In [15]:
rainfall.isnull().sum()

DIST      0
Year      0
Jan       0
Feb       0
Mar       0
Apr       0
May       0
Jun       0
Jul       0
Aug       0
Sep       0
Oct       0
Nov       0
Dec       0
Annual    0
Kharif    0
Summer    0
Winter    0
Autumn    0
Rabi      0
dtype: int64

In [16]:
#add +3 to year
rainfall['Year'] = rainfall['Year'] + 3

In [18]:
#export to csv
rainfall.to_csv('../Dataset Processed/Rainfall_cleaned.csv', index=False)